<a href="https://colab.research.google.com/github/JosephHauser912/Advanced-Data/blob/main/FCC_DataFrames_and_index%2Cloc%2Ciloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
A = pd.DataFrame([{'a':1, 'b':4}, {'b':-3,'c':9}])

In [6]:
A

     a  b    c
0  1.0  4  NaN
1  NaN -3  9.0

In [7]:
A.fillna(0)

     a  b    c
0  1.0  4  0.0
1  0.0 -3  9.0

In [10]:
A.dropna(how='all')
A

     a  b    c
0  1.0  4  NaN
1  NaN -3  9.0

In [11]:
A = pd.Series(['a','b','c'],index =[1,3,5])

In [12]:
A

1    a
3    b
5    c
dtype: object

In [13]:
A[1]

'a'

In [14]:
A[1:3]

3    b
5    c
dtype: object

In [15]:
A.loc[1:3]

1    a
3    b
dtype: object

In [16]:
A.iloc[1:3]

3    b
5    c
dtype: object

In [20]:
marks_dict = {'A':85, 'B':75, 'C':65, 'D':55}
marks = pd.Series(marks_dict)
grades_dict = {'A':4, 'A-':3.5, 'B':3, 'B':2.5, 'B-':2}
grades = pd.Series(grades_dict)
D = pd.DataFrame({'grades':grades, 'marks':marks})

In [22]:
D

    grades  marks
A      4.0   85.0
A-     3.5    NaN
B      2.5   75.0
B-     2.0    NaN
C      NaN   65.0
D      NaN   55.0

In [21]:
D.iloc[2,:]

grades     2.5
marks     75.0
Name: B, dtype: float64

In [26]:
D.iloc[::-1,:]

    grades  marks
D      NaN   55.0
C      NaN   65.0
B-     2.0    NaN
B      2.5   75.0
A-     3.5    NaN
A      4.0   85.0