<a href="https://colab.research.google.com/github/JosephHauser912/Advanced-Data/blob/main/FCC_Data_Structuresipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
l = [1,3,4.9,"name", 3]
T = (1,3,4.9, "name", 3)
S = {1,3,4.9,"name", 3}
D = {23:"twothree",'B':43,"C":"CCD"}

In [5]:
print("The type of L is", type(l))
print("The type of T is", type(T))
print("The type of S is", type(S))
print("The type of D is", type(D))

The type of L is <class 'list'>
The type of T is <class 'tuple'>
The type of S is <class 'set'>
The type of D is <class 'dict'>

In [9]:
print(l[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [10]:
print(D['B'])

43

In [11]:
S

{1, 3, 4.9, 'name'}

In [4]:
l
l[1:3]

[3, 4.9]

In [5]:
l[::-1 ]

[3, 'name', 4.9, 3, 1]

In [10]:
D[23] = 'twentythree'
D["45"] = "fourfive"
D

{23: 'twentythree', 'B': 43, 'C': 'CCD', '23': 'twentythree', '45': 'fourfive'}

In [12]:
l = l + ["how", "are", 7, "you"]

In [14]:
l
l.append(8.4)
l

In [17]:
T2 = ("a", "b", 45)
T3 = T + T2
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [19]:
S.add(T2)
S

{('a', 'b', 45), 1, 3, 4.9, 'name'}

In [42]:
S.update({23,"game",1})
S

{('a', 'b', 45), 1, 23, 4.9, 'game', 'name'}

In [43]:
S

{('a', 'b', 45), 1, 23, 4.9, 'game', 'name'}

In [21]:
D

{23: 'twentythree', 'B': 43, 'C': 'CCD', '23': 'twentythree', '45': 'fourfive'}

In [22]:
D["newKey"] = "newValue"

In [23]:
D

{23: 'twentythree',
 'B': 43,
 'C': 'CCD',
 '23': 'twentythree',
 '45': 'fourfive',
 'newKey': 'newValue'}

In [24]:
D2 = {"key":"val", "y":"YY", "z":"ZZ"}

In [25]:
D2

{'key': 'val', 'y': 'YY', 'z': 'ZZ'}

In [26]:
D3 = D + D2

TypeError: ignored

In [29]:
D.update(D2)
D

{23: 'twentythree',
 'B': 43,
 'C': 'CCD',
 '23': 'twentythree',
 '45': 'fourfive',
 'newKey': 'newValue',
 'key': 'val',
 'y': 'YY',
 'z': 'ZZ'}

In [31]:
D3 = D | D2
D3

{23: 'twentythree',
 'B': 43,
 'C': 'CCD',
 '23': 'twentythree',
 '45': 'fourfive',
 'newKey': 'newValue',
 'key': 'val',
 'y': 'YY',
 'z': 'ZZ'}

In [33]:
del l[3]
l

[1, 3, 4.9, 'how', 'are', 7, 'you', 8.4]

In [51]:
S
S.remove("game")

KeyError: ignored

In [52]:
S

{('a', 'b', 45), 1, 23, 4.9, 'name'}

In [49]:
del D["C"]

KeyError: ignored

In [50]:
D

{23: 'twentythree',
 'B': 43,
 '23': 'twentythree',
 '45': 'fourfive',
 'newKey': 'newValue',
 'key': 'val',
 'y': 'YY',
 'z': 'ZZ'}

In [53]:
L2 = l
L2
l

[1, 3, 4.9, 'how', 'are', 7, 'you', 8.4]

In [55]:
L2[2] = 'four point nine'

In [69]:
L2 = l.copy()

In [70]:
l

[1, 3, 'four point nine', 'how', 'are', 7, 'you', 8.4]

In [61]:
L2

[1, 3, 'four point nine', 'how', 'are', 7, 'you', 8.4]

In [62]:
L2[2]= 4.9
L2

[1, 3, 4.9, 'how', 'are', 7, 'you', 8.4]

In [64]:
l

[1, 3, 'four point nine', 'how', 'are', 7, 'you', 8.4]

In [72]:
L3 = l[1:5] 
L3[0] = 'three'

In [73]:
help(l.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [76]:
l.clear?
l.pop?

In [81]:
l.reverse()
l
l.pop(0)

8.4

In [83]:
D.items?

dict_items([(23, 'twentythree'), ('B', 43), ('23', 'twentythree'), ('45', 'fourfive'), ('newKey', 'newValue'), ('key', 'val'), ('y', 'YY'), ('z', 'ZZ')])

In [84]:
D2 = {'A':l,'B':T,"C":S,"D":D}
D2

{'A': ['you', 7, 'are', 'how', 'four point nine', 1],
 'B': (1, 3, 4.9, 'name', 3),
 'C': {('a', 'b', 45), 1, 23, 4.9, 'name'},
 'D': {23: 'twentythree',
  'B': 43,
  '23': 'twentythree',
  '45': 'fourfive',
  'newKey': 'newValue',
  'key': 'val',
  'y': 'YY',
  'z': 'ZZ'}}

In [85]:
D2["A"][3]

'how'

In [86]:
K = D2["D"]

In [87]:
K

{23: 'twentythree',
 'B': 43,
 '23': 'twentythree',
 '45': 'fourfive',
 'newKey': 'newValue',
 'key': 'val',
 'y': 'YY',
 'z': 'ZZ'}

In [92]:
for x in K:
  print(x,K[x])

23 twentythree
B 43
23 twentythree
45 fourfive
newKey newValue
key val
y YY
z ZZ

In [93]:
S3 = {x**2 for x in range(2,20,3)}
S3

{4, 25, 64, 121, 196, 289}

In [105]:
def getDataFromUser():
  D = {}
  while True:
    studentId = input("Enter student ID: ")
    marksList = input("Enter the marks by csv: ")
    moreStudents = input("if none type 'no': ")
    if studentId in D:
      print(studentId, "is already inserted")
    else:
      D[studentId] = marksList.split(",")
    if moreStudents.lower() == 'no':
      return D

In [109]:
studentData = getDataFromUser()

Enter student ID: 1
Enter the marks by csv: 5,5,5
if none type 'no': ASASDF
Enter student ID: 2
Enter the marks by csv: 6,6,6
if none type 'no':
Enter student ID: 1
Enter the marks by csv: 7,7,7
if none type 'no': asff
1 is already inserted

KeyboardInterrupt: ignored

In [108]:
studentData

{'1': ['5', '5', '5']}

In [126]:
def getAvgMarks(D):
  avgMarks = {}
  for x in D:
    L = D[x]
    s = 0
    for marks in L:
      s += int(marks)
    avgMarks[x] = s/len(L)
  return avgMarks

In [127]:
avgM = getAvgMarks(studentData)

In [129]:
avgM

{'1': 5.0}

In [128]:
for x in avgM:
  print("Student: ", x, "got avg marks as: ", avgM[x])

Student:  1 got avg marks as:  5.0