<a href="https://colab.research.google.com/github/JosephHauser912/Advanced-Data/blob/main/FCC_pd_DataFramesipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
marks_dict = {'A':85, 'B':75, 'C':65, 'D':55}
marks = pd.Series(marks_dict)

In [4]:
marks

A    85
B    75
C    65
D    55
dtype: int64

In [5]:
marks_dict

{'A': 85, 'B': 75, 'C': 65, 'D': 55}

In [6]:
marks['A']

85

In [7]:
marks[0:2]

A    85
B    75
dtype: int64

In [8]:
pd.Series?

In [9]:
grades_dict = {'A':4, 'A-':3.5, 'B':3, 'B':2.5, 'B-':2}

In [10]:
grades = pd.Series(grades_dict)

In [12]:
rs = pd.DataFrame({'grades':grades, 'marks':marks})

In [13]:
rs

    grades  marks
A      4.0   85.0
A-     3.5    NaN
B      2.5   75.0
B-     2.0    NaN
C      NaN   65.0
D      NaN   55.0

In [14]:
rs.T

           A   A-     B   B-     C     D
grades   4.0  3.5   2.5  2.0   NaN   NaN
marks   85.0  NaN  75.0  NaN  65.0  55.0

In [15]:
rs.values

array([[ 4. , 85. ],
       [ 3.5,  nan],
       [ 2.5, 75. ],
       [ 2. ,  nan],
       [ nan, 65. ],
       [ nan, 55. ]])

In [17]:
rs.values[2][1]

75.0

In [18]:
rs.columns

Index(['grades', 'marks'], dtype='object')

In [26]:
rs['percentage'] = rs['marks']/100
rs

    grades  marks  percentage
A      4.0   85.0        0.85
A-     3.5    NaN         NaN
B      2.5   75.0        0.75
B-     2.0    NaN         NaN
C      NaN   65.0        0.65
D      NaN   55.0        0.55

In [30]:
del rs['percentage']
rs

    grades  marks
A      4.0   85.0
A-     3.5    NaN
B      2.5   75.0
B-     2.0    NaN
C      NaN   65.0
D      NaN   55.0

In [37]:
G = rs[rs['grades']<3.0]

In [38]:
G

    grades  marks
B      2.5   75.0
B-     2.0    NaN