<a href="https://colab.research.google.com/github/JosephHauser912/Advanced-Data/blob/main/P4DS_DataFrames_and_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import pandas as pd
data = [
    {"empno":9001, "Salary":3000},
    {"empno":9002, "Salary":2800},
    {"empno":9003, "Salary":2500},
]

In [2]:
json_data = json.dumps(data)

In [3]:
salary = pd.read_json(json_data)
salary = salary.set_index('empno')

print(salary)

       Salary
empno
9001     3000
9002     2800
9003     2500

In [4]:
data = [['9001','Jeff Russell', 'sales'],
        ['9002','Jane Boorman', 'sales'],
        ['9003','Tom Heints', 'sales']
        ]
emps = pd.DataFrame(data, columns = ['Empno', 'Name', 'Job'])
column_types = {'Empno': int, 'Name': str, 'Job':str}
emps = emps.astype(column_types)
emps = emps.set_index('Empno')
print(emps)

               Name    Job
Empno
9001   Jeff Russell  sales
9002   Jane Boorman  sales
9003     Tom Heints  sales

In [5]:
emps_salary = emps.join(salary)
print(emps_salary)

               Name    Job  Salary
Empno
9001   Jeff Russell  sales    3000
9002   Jane Boorman  sales    2800
9003     Tom Heints  sales    2500

In [6]:
new_emp = pd.Series({'Name':'John Hardy', 'Job': 'sales'}, name = 9004)
emps = emps.append(new_emp)
[print(emps)]

               Name    Job
Empno
9001   Jeff Russell  sales
9002   Jane Boorman  sales
9003     Tom Heints  sales
9004     John Hardy  sales

<ipython-input-6-b601e8f0933c>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emps = emps.append(new_emp)

[None]

In [7]:
emps_salary = emps.join(salary)
print(emps_salary)

               Name    Job  Salary
Empno
9001   Jeff Russell  sales  3000.0
9002   Jane Boorman  sales  2800.0
9003     Tom Heints  sales  2500.0
9004     John Hardy  sales     NaN

In [8]:
emps_salary = emps.join(salary, how = 'left')
print(emps_salary)

               Name    Job  Salary
Empno
9001   Jeff Russell  sales  3000.0
9002   Jane Boorman  sales  2800.0
9003     Tom Heints  sales  2500.0
9004     John Hardy  sales     NaN

In [9]:
new_emp2 = pd.Series({'Name':'', 'Job': 'Comedian'}, name = 9005 )
emps = emps.append(new_emp2)
print(emps)
emps_salary = emps.join(salary, how = 'left')
print(emps_salary)

               Name       Job
Empno
9001   Jeff Russell     sales
9002   Jane Boorman     sales
9003     Tom Heints     sales
9004     John Hardy     sales
9005                 Comedian
               Name       Job  Salary
Empno
9001   Jeff Russell     sales  3000.0
9002   Jane Boorman     sales  2800.0
9003     Tom Heints     sales  2500.0
9004     John Hardy     sales     NaN
9005                 Comedian     NaN

<ipython-input-9-12177ad00c62>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emps = emps.append(new_emp2)

In [12]:
data = [[2608,9001,35],[2617,9001,35],[2620,9001,139],[2621,9002,95,],[2626,9002,218]]
orders= pd.DataFrame(data, columns = ['Pono', 'Empno', 'Total'])
print(orders)

   Pono  Empno  Total
0  2608   9001     35
1  2617   9001     35
2  2620   9001    139
3  2621   9002     95
4  2626   9002    218

In [13]:
emps_orders = emps.merge(orders, how='inner', left_on= 'Empno', right_on='Empno').set_index('Pono')
print(emps_orders)

      Empno          Name    Job  Total
Pono
2608   9001  Jeff Russell  sales     35
2617   9001  Jeff Russell  sales     35
2620   9001  Jeff Russell  sales    139
2621   9002  Jane Boorman  sales     95
2626   9002  Jane Boorman  sales    218

In [14]:
print(orders.groupby(['Empno'])['Total'].mean())

Empno
9001     69.666667
9002    156.500000
Name: Total, dtype: float64

In [15]:
print(orders.groupby(['Empno'])['Total'].sum())

Empno
9001    209
9002    313
Name: Total, dtype: int64