<a href="https://colab.research.google.com/github/JosephHauser912/Advanced-Data/blob/main/P4DS_DataFrames_and_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import json
import pandas as pd
data = [
    {"empno":9001, "Salary":3000},
    {"empno":9002, "Salary":2800},
    {"empno":9003, "Salary":2500},
]

In [5]:
json_data = json.dumps(data)

In [6]:
salary = pd.read_json(json_data)
salary = salary.set_index('empno')

print(salary)

       Salary
empno
9001     3000
9002     2800
9003     2500

In [10]:
data = [['9001','Jeff Russell', 'sales'],
        ['9002','Jane Boorman', 'sales'],
        ['9003','Tom Heints', 'sales']
        ]
emps = pd.DataFrame(data, columns = ['Empno', 'Name', 'Job'])
column_types = {'Empno': int, 'Name': str, 'Job':str}
emps = emps.astype(column_types)
emps = emps.set_index('Empno')
print(emps)

               Name    Job
Empno
9001   Jeff Russell  sales
9002   Jane Boorman  sales
9003     Tom Heints  sales

In [11]:
emps_salary = emps.join(salary)
print(emps_salary)

               Name    Job  Salary
Empno
9001   Jeff Russell  sales    3000
9002   Jane Boorman  sales    2800
9003     Tom Heints  sales    2500

In [15]:
new_emp = pd.Series({'Name':'John Hardy', 'Job': 'sales'}, name = 9004)
emps = emps.append(new_emp)
[print(emps)]

               Name    Job
Empno
9001   Jeff Russell  sales
9002   Jane Boorman  sales
9003     Tom Heints  sales
9004     John Hardy  sales
9004     John Hardy  sales

<ipython-input-15-b601e8f0933c>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emps = emps.append(new_emp)

[None]

In [16]:
emps_salary = emps.join(salary)
print(emps_salary)

              Name    Job  Salary
9001  Jeff Russell  sales  3000.0
9002  Jane Boorman  sales  2800.0
9003    Tom Heints  sales  2500.0
9004    John Hardy  sales     NaN
9004    John Hardy  sales     NaN

In [20]:
emps_salary = emps.join(salary, how = 'left')
print(emps_salary)

              Name    Job  Salary
9001  Jeff Russell  sales  3000.0
9002  Jane Boorman  sales  2800.0
9003    Tom Heints  sales  2500.0
9004    John Hardy  sales     NaN
9004    John Hardy  sales     NaN

In [49]:
new_emp2 = pd.Series({'Name':'', 'Job': 'Comedian'}, name = 9005 )
emps = emps.append(new_emp2)
print(emps)
emps_salary = emps.join(salary, how = 'left')
print(emps_salary)

               Name       Job
Empno
9001   Jeff Russell     sales
9002   Jane Boorman     sales
9003     Tom Heints     sales
9004     John Hardy     sales
9004     John Hardy     sales
9005     Al Franken  Comedian
9005                 Comedian
9005                 Comedian
9005                 Comedian
              Name       Job  Salary
9001  Jeff Russell     sales  3000.0
9002  Jane Boorman     sales  2800.0
9003    Tom Heints     sales  2500.0
9004    John Hardy     sales     NaN
9004    John Hardy     sales     NaN
9005    Al Franken  Comedian     NaN
9005                Comedian     NaN
9005                Comedian     NaN
9005                Comedian     NaN

<ipython-input-49-12177ad00c62>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emps = emps.append(new_emp2)

In [53]:
emps_salary = emps_salary.drop(emps_salary.index[7])

IndexError: ignored

In [61]:
emps_salary = emps_salary.drop(emps_salary.index[4])

In [63]:
print(emps_salary)
new_emp = pd.Series({'Name':'John Hardy', 'Job': 'sales'}, name = 9004)
emps = emps.append(new_emp)
[print(emps)]

              Name    Job  Salary
9001  Jeff Russell  sales  3000.0
9002  Jane Boorman  sales  2800.0
9003    Tom Heints  sales  2500.0
               Name       Job
Empno
9001   Jeff Russell     sales
9002   Jane Boorman     sales
9003     Tom Heints     sales
9004     John Hardy     sales
9004     John Hardy     sales
9005     Al Franken  Comedian
9005                 Comedian
9005                 Comedian
9005                 Comedian
9004     John Hardy     sales

<ipython-input-63-b0c09f239efe>:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emps = emps.append(new_emp)

[None]

In [64]:
emps = emps.drop(emps.index[5:])
print(emps)

               Name    Job
Empno
9001   Jeff Russell  sales
9002   Jane Boorman  sales
9003     Tom Heints  sales

In [65]:
new_emp = pd.Series({'Name':'John Hardy', 'Job': 'sales'}, name = 9004)
emps = emps.append(new_emp)
[print(emps)]

               Name    Job
Empno
9001   Jeff Russell  sales
9002   Jane Boorman  sales
9003     Tom Heints  sales
9004     John Hardy  sales

<ipython-input-65-b601e8f0933c>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  emps = emps.append(new_emp)

[None]

In [69]:
emps_salary = emps.join(salary, how = 'inner')
print(emps_salary)

              Name    Job  Salary
9001  Jeff Russell  sales    3000
9002  Jane Boorman  sales    2800
9003    Tom Heints  sales    2500