<a href="https://colab.research.google.com/github/JosephHauser912/Advanced-Data/blob/main/P4DS_panda_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = ['Jeff Russell', 'Jane Boorman', 'Tom Heints']
emps_names = pd.Series(data)
print(emps_names)

0    Jeff Russell
1    Jane Boorman
2      Tom Heints
dtype: object

In [3]:
emps_names = pd.Series(data, index=[9001,9002,9003])
print(emps_names)

9001    Jeff Russell
9002    Jane Boorman
9003      Tom Heints
dtype: object

In [5]:
print(emps_names[9003])

Tom Heints

In [6]:
print(emps_names.loc[9001])

Jeff Russell

In [7]:
print(emps_names.iloc[0])

Jeff Russell

In [10]:
emps_emails = pd.Series(data,index=[9001,9002,9003], name = 'emails')

In [11]:
emps_names.name = 'names'

In [15]:
emps_phones = pd.Series(data,index=[9001,9002,9003], name='phones')

In [16]:
df = pd.concat([emps_names, emps_emails, emps_phones], axis=1)
print(df)

             names        emails        phones
9001  Jeff Russell  Jeff Russell  Jeff Russell
9002  Jane Boorman  Jane Boorman  Jane Boorman
9003    Tom Heints    Tom Heints    Tom Heints

In [18]:
import yfinance as yf
tkr = yf.Ticker('TSLA')
hist = tkr.history(period='5d')
hist = hist.drop("Dividends", axis = 1)
hist = hist.drop("Stock Splits", axis = 1)
hist = hist.reset_index()
print(hist)

                       Date        Open        High         Low       Close  \
0 2023-05-30 00:00:00-04:00  200.100006  204.479996  197.529999  201.160004
1 2023-05-31 00:00:00-04:00  199.779999  203.949997  195.119995  203.929993
2 2023-06-01 00:00:00-04:00  202.589996  209.800003  199.369995  207.520004
3 2023-06-02 00:00:00-04:00  210.149994  217.250000  209.750000  213.970001
4 2023-06-05 00:00:00-04:00  217.800003  221.289993  216.399994  217.500000

      Volume
0  128818700
1  150711700
2  148029900
3  164129000
4   78680398

In [19]:
hist.set_index('Date')

,Open,High,Low,Close,Volume
Date,,,,,
2023-05-30 00:00:00-04:00,200.100006,204.479996,197.529999,201.160004,128818700
2023-05-31 00:00:00-04:00,199.779999,203.949997,195.119995,203.929993,150711700
2023-06-01 00:00:00-04:00,202.589996,209.800003,199.369995,207.520004,148029900
2023-06-02 00:00:00-04:00,210.149994,217.250000,209.750000,213.970001,164129000
2023-06-05 00:00:00-04:00,217.800003,221.289993,216.399994,217.500000,78680398